@model WhichComputer.Main.Question
<div id="question-card" >
    <div class="max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-auto">
        <p>
            <h5 id="prompt" class="pb-4 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">@Model.Prompt</h5>
            <p class="text-sm text-gray-500 pb-4">@Model.Explanation</p>
        <p>
        <div class="answer-div max-w-lg text-sm items-center font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            @foreach (var answer in @Model.Answers)
            {
                <a class="answer text-center block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
                   onclick="answerChosen(@Model.Id, '@answer.Choice')">
                    @answer.Choice
                    <p class="text-sm text-gray-500">
                        @answer.Explanation
                    </p>
                </a>
            }
        </div>
        @if (@Model.Id != 1)
        {
            <button id="question-back-button" class="answer-div block m-auto mt-8 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-1/2" onclick="goBack()">Back</button>
        }
    </div>
</div>